.about {
  background-color: white;
  padding: 0 20px 35px 20px;
}

.about__heading {
  @include heading;
  margin-bottom: 30px;
}

.about__list {
  @include lists;
  padding-top: 15px;
}

.about__item {
  margin-left: 80px;
  margin-bottom: 10%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: $accent no-repeat center center;
    width: 60px;
    height: 60px;
    left: -80px;
  }

  &--healthy::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }

  &--quickcook::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }
  }

  &--fullmeal::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }
  }

  &--fastresult::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .about {
    border-bottom: $border;
    padding: 10px 30px 0 30px;
  }

  .about__heading {
    @include heading-large;
    margin-bottom: 65px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-bottom: -20px;
    overflow: hidden;
  }

  .about__item {
    width: 40%;
    padding-top: 120px;
    margin-bottom: 80px;
    margin-left: 0;
    padding-right: 80px;
    margin-right: 40px;
    line-height: 24px;
    min-height: 235px;

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      left: 0;
      top: 5px;
    }

    &--healthy {
      background: url("../img/1@1x.png") no-repeat 60%;
    }

    &--quickcook {
      background: url("../img/2@1x.png") no-repeat 70%;
    }

    &--fullmeal {
      background: url("../img/3@1x.png") no-repeat 70%;
    }

    &--fastresult {
      background: url("../img/4@1x.png") no-repeat 80%;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 0;
    padding-bottom: 40px;
    border: none;
  }

  .about__list {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -80px;
    overflow: hidden;
  }

  .about__item {
    width: 245px;
    margin-right: 80px;
    padding-bottom: 50px;
    padding-top: 110px;
    margin-bottom: 0;
    padding-right: 0;
  }
}
