.banner {
  background: $accent url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  color: white;
  min-height: 290px;
  width: 280px;
  text-align: center;
  padding: 40px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px;
  }
}

.banner__img {
  margin-top: 25px;
  margin-bottom: 60px;
}

.banner__info {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  line-height: 20px;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .banner {
    background: $accent url("../img/gift-photo-tablet@1x.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    width: 100%;
    min-height: 200px;
    text-align: center;
    padding: 50px 105px 50px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px;
    }
  }

  .banner__img {
    @include zero;
  }

  .banner__info {
    @include zero;
    text-align: left;
    width: 180px;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    width: 245px;
    min-height: 282px;
    background: $accent url("../img/gift-photo-desktop@1x.jpg") no-repeat center center;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 60px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px;
    }
  }

  .banner-img {
    margin-top: 10px;
  }

  .banner__info {
    text-align: center;
    margin-top: 50px;
  }
}
