.catalog__heading {
  @include heading;

  padding: 20px 20px 40px 20px;
  border-bottom: $border;
}

.catalog__list {
  @include lists;
}

.catalog__subheading {

  padding-bottom: 30px;
  padding-top: 33px;
  margin: 0;
  z-index: 2;

  position: relative;

  &::before {
    content: "";
    background-color: $accent;
    width: 100%;
    height: 4px;
    z-index: -1;
    position: absolute;
    right: 0;
    top: calc(55% - 4px);
  }
}

.catalog__subheading-text {
  @include heading-medium;
  background-color: white;
  display: inline-block;
  padding-right: 20px;
  padding-left: 15px;
  vertical-align: middle;
  max-width: 280px;
}

.catalog__wrapper {
  margin: 0 auto;
  width: 97%;
}

.catalog__extra-products {
  padding: 0 0 30px 0;
}

@media (min-width: $tablet-width) {
  .catalog__main-products {
    padding: 25px 30px 0 30px;
  }

  .catalog__wrapper {
    width: 100%;
  }

  .catalog__heading {
    font-size: 60px;
    border: none;
    padding-left: 30px;
    padding-bottom: 130px;
    padding-top: 25px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--extra {
      padding: 0 30px;
    }
  }

  .catalog__item {
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
  }

  .catalog__extra-products {
    margin-right: 0;
    margin-left: 0;
    margin-top: -80px;
    padding-left: 0;
    padding-right: 0;
  }

  .catalog__subheading {
    padding-bottom: 80px;
    padding-left: 30px;
    padding-top: 10px;

    &::before {
      top: calc(27% - 4px);
    }
  }

  .catalog__subheading-text {
    font-size: 36px;
    max-width: 420px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0;
  }

  .catalog__heading {
    padding-left: 0;
    padding-top: 35px;
    padding-bottom: 140px;
  }

  .catalog__main-products {
    padding: 20px 0;
  }

  .catalog__subheading {
    padding-left: 0;
    padding-bottom: 80px;
    padding-top: 0;


    &::before {
      width: 161%;
      left: -12%;
    }
  }

  .catalog__list--extra {
    padding: 0;
  }

  .catalog__subheading-text {
    padding: 0 35px;
    margin-left: -35px;
  }

  .catalog__extra-wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 90px;
  }

  .catalog__extra-products {
    width: 895px;
    padding: 0;
  }
}
