.checkbox + label::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgba(207, 207, 207, 0.5);
  margin-right: 15px;
  cursor: pointer;
}

.checkbox:not(:disabled) + label:hover::before,
.checkbox:not(:disabled):focus + label::before {
  border: 1px solid #cdcdcd;
}

.checkbox:not(:disabled):active + label::before {
  border: 1px solid #cfcfcf;
}

.checkbox:active + label,
.checkbox:disabled + label {
  opacity: 0.3;
}

.checkbox:checked + label::before {
  content: "";
  background: white url("../img/icon-tick.svg") no-repeat center center;
  border: 1px solid rgba(207, 207, 207, 0.5);
  display: inline-block;
  vertical-align: middle;
}

.checkbox:checked:not(:disabled) + label:hover::before {
  border: 1px solid #cdcdcd;
}

.checkbox:checked:active:not(:disabled) + label:hover::before {
  border: 1px solid #cfcfcf;
}

.checkbox:checked:active + label,
.checkbox:checked:disabled + label {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .checkbox + label::before {
    width: 40px;
    height: 40px;
  }
}
