.contacts__wrapper {
  justify-content: space-between;
  padding: 30px 20px 25px 20px;
  background-color: white;
  display: flex;
  min-height: 115px;
}

.contacts__invite {
  @include heading-small;
  text-transform: uppercase;
  line-height: 20px;
}

.contacts__address {
  line-height: 20px;
  margin-left: 15px;
}

.contacts__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  position: relative;
  width: 100%;
  min-height: 360px;
  background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-mobile@2x.png");
      background-size: 320px;
    }
}

.contacts__pin {
  position: absolute;
  top: 135px;
  right: 130px;
}

.contacts__wrapper--inner {
  background-color: $darker;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    min-height: 200px;
    padding: 65px 70px 60px 70px;
  }

  .contacts__invite {
    font-size: 20px;
    width: 130px;
    line-height: 25px;
  }

  .contacts__address {
    text-align: right;
    width: 160px;
    line-height: 20px;
  }

  .contacts__city {
    margin-top: 15px;
    display: block;
  }

  .contacts__pin {
    width: 115px;
    height: 100px;
    top: 150px;
    right: 330px;
  }

  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.png");
    width: 100%;
    min-height: 395px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 767px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    min-height: 400px;
  }

  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: 1440px;
    }
  }

  .contacts__wrapper {
    width: 570px;
    min-height: 200px;
    position: absolute;
    z-index: 2;
    left: 110px;
    top: 95px;
    padding-left: 75px;
    padding-right: 85px;
  }

  .contacts__address {
    text-align: left;
    margin-left: 0;
  }

  .contacts__pin {
    top: 150px;
    right: 320px;
  }

  .contacts__wrapper--inner {
    background-color: white;
  }
}
