.example {
  background-color: $darker;
}

.example__info {
  padding: 20px 20px 0 20px;
}

.example__heading {
  @include heading;
  margin-bottom: 30px;
}

.example__description {
  @include zero;
  line-height: 18px;
}

.example__results-list {
  @include lists;
  display: flex;
  margin: 25px auto 35px auto;
  justify-content: space-between;
  width: 280px;
}

.example__cost {
  font: {
    family: "Oswald", "Arial", sans-serif;
    size: 14px;
    weight: normal;
  }
  color: black;

  @include zero;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 35px 30px 38px 30px;
    background-image: linear-gradient(white 57%, $darker 57%);
  }

  .example__info {
    padding: 0;
  }

  .example__heading {
    @include heading-large;
    margin-bottom: 60px;
  }

  .example__description {
    margin-bottom: 55px;
    line-height: 24px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__results-list {
    @include zero;
    width: 370px;
    display: flex;
    justify-content: space-between;
  }

  .example__cost {
    text-align: right;
    width: 190px;
    font-size: 20px;
    padding-top: 10px;
    line-height: 29px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-image: linear-gradient(white 26%, $darker 26%);
    padding-top: 55px;
    padding-bottom: 25px;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  .example__wrapper {
    display: block;
  }

  .example__heading {
    margin-bottom: 140px;
  }

  .example__description {
    width: 450px;
    margin-bottom: 65px;
  }

  .example__results-list {
    width: 365px;
    min-height: 75px;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .example__cost {
    width: 325px;
    text-align: left;
  }

  .example__cost-rub {
    display: inline-block;
    vertical-align: middle;
    margin-left: 55px;
  }

  .example__cat-slider {
    padding-top: 0;
    margin-top: -70px;
  }
}
