.form-program__section {
  border: none;
  display: flex;
  flex-direction: column;

  @include zero;
  padding: 20px 0 0 0;

  &--main {
    border-bottom: $border;
  }

  &--radio {
    padding-top: 25px;
  }

  &--contacts {
    margin-bottom: -20px;
  }
}

.form-program__wrapper--extra {
  margin-top: 8px;
}


.form-program__wrapper--field {
  display: flex;
  align-items: center;
}

.form-program__label {
  @include heading-small;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 15px;
  display: block;
  white-space: nowrap;
}

.form-program__section-name {
  z-index: 2;
  position: relative;
  display: block;
  margin: 0;
  width: 100%;

  &::before {
    content: "";
    background-color: $accent;
    width: 100%;
    height: 4px;
    z-index: -1;
    position: absolute;
    right: -6%;
    top: calc(70% - 4px);
  }
}

.form-program__section-text {
  @include heading-medium;
  @include zero;
  padding: 30px 20px 10px 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 210px;
  background-color: white;
  line-height: 25px;
}

.form-program__required-fields {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.form-program__textarea {
  width: 100%;
  min-height: 145px;
  resize: none;
  padding: 10px 13px;
  margin-top: 8px;
}

.form-program__textarea::placeholder {
  @include heading-small;
  color: #444444;
  text-transform: uppercase;
}

.form-program__text {
  flex-grow: 1;
  margin-bottom: 15px;
}

.form-program__submit-btn {
  margin-top: 10px;
}

@media (min-width: $tablet-width) {
  .form-program {
    padding: 0 40px;
  }

  .form-program__wrapper {
    display: flex;
    flex-wrap: wrap;

    &--main {
      display: block;
    }

    &--contacts {
      display: block;
    }

    &--extra {
      margin-top: -15px;
      margin-right: -30px;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
    }
  }

  .form-program__section {
    margin-bottom: 70px;

    &--main {
      border: none;
      margin-bottom: 55px;
    }

    &--radio {
      border: $border;
      padding: 25px 30px 0 27px;
      min-height: 195px;
    }

    &--contacts {
      margin-bottom: 20px;
    }

    &--comment {
      margin-bottom: 35px;
    }

    &--extra {
      margin-bottom: 0;
    }
  }

  .form-program__section-name {
    margin-bottom: 50px;

    &::before {
      width: 125%;
      left: -12%;
    }
  }

  .form-program__section-text {
    font-size: 36px;
    max-width: 600px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form-program__label {
    font-size: 20px;
    margin-right: 60px;
  }

  .form-program__checkbox {
    width: 37%;
    margin-bottom: 30px;
    margin-right: 80px;
  }

  .form-program__textarea {
    min-height: 175px;
  }

  .form-program__textarea::placeholder {
    font-size: 20px;
  }

  .form-program__text {
    margin-bottom: 20px;
  }

  .form-program__submit-btn {
    width: 280px;
    margin-top: 25px;
    height: 50px;
    font-size: 20px;
  }

  .form-program__required-fields {
    text-align: left;
    margin-left: 65px;
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .form-program {
    padding: 0;
  }

  .form-program__section {
    min-width: 570px;
    padding-top: 0;
    margin-bottom: 60px;

    &--main {
      min-height: 195px;
      margin-bottom: 30px;
    }

    &--radio {
      padding-top: 20px;
      margin-left: 80px;
    }

    &--contacts {
      margin-bottom: 25px;
    }

    &--comment {
      margin-bottom: 45px;
    }

    &--extra {
      margin-bottom: 0;
    }
  }

  .form-program__section-name {
    padding-top: 0;
    margin-right: 20px;

    &::before {
      width: 120%;
      left: -10%;
    }
  }

  .form-program__section-text {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
  }

  .form-program__email {
    flex-grow: 1;
  }

  .form-program__phone {
    flex-grow: 1;
    margin-left: 80px;
  }

  .form-program__checkbox {
    margin-right: 130px;
  }

  .form-program__wrapper {
    &--main {
      display: flex;
      align-items: flex-start;
    }

    &--contacts {
      display: flex;
      margin-top: 20px;
    }

    &--extra {
      flex-wrap: nowrap;
      align-items: flex-start;
      margin-top: 0;
      width: 100%;
    }
  }

  .form-program__textarea {
    margin-top: 20px;
    padding: 20px;
  }

  .form-program__submit-btn {
    width: 570px;
    margin-top: 35px;
  }

  .form-program__required-fields {
    margin-left: 80px;
  }
}
