.header {
  background-color: white;
}

.header__wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 65px;
  padding-left: 20px;
  padding-right: 20px;
}

.header__logo {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-img {
  margin-bottom: 10px;
  height: 40px;
  width: 33px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-text {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__close-btn {
  display: none;
}


@media (min-width: $tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 20px;
  }

  .header__wrapper {
    justify-content: space-between;
    padding-left: 10px;
  }

  .header__logo {
    width: 200px;
  }

  .header__logo-img {
    width: 175px;
    height: 60px;
    margin: 0;
  }

  .header__logo-text {
    display: none;
  }

  .header__menu-btn {
    display: none;
  }

  .header__close-btn {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 35px;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;

    &--index {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .header__wrapper {
    align-self: flex-start;
    padding: 0;
  }

  .header__logo {
    width: 230px;
    padding-left: 0;
    padding-top: 20px;
  }

  .header__logo-img {
    width: 205px;
    height: 60px;
  }
}
