.input-text {
  height: 45px;
  border: 2px solid rgba(207, 207, 207, 0.5);
  font-family: "Oswald", "Arial", sans-serif;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    border: 2px solid #cdcdcd;
  }

  &:active + .input-text__icon {
    fill: $accent;
  }

  &:invalid + .input-text__icon {
    fill: #ff8888;
  }

  &:active,
  &:focus {
    border: 2px solid black;
    outline: none;
  }

  &:invalid {
    border: 2px solid #ff8888;
  }
}

.input-text__icon {
  position: absolute;
  right: 10px;
  top: 25%;
  z-index: 20;
  fill: black;
}

@media (min-width: $tablet-width) {
  .input-text {
    height: 51px;
  }

  .input-text__icon {
    left: 95%;
    top: 25%;
  }
}

@media (min-width: $desktop-width) {
  .input-text {
    height: 51px;
  }
}
