.input-text {
  height: 45px;
  border: 1px solid rgba(207, 207, 207, 0.5);

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    border: 2px solid black;
    outline: none;
  }

  &:invalid {
    border: 2px solid #ff8888;
  }
}

.input-text--email {
  background: url("../img/icon-mail.svg") no-repeat 95% center;
  background-size: 20px;
}

.input-text--phone {
  background: url("../img/icon-phone.svg") no-repeat 95% center;
  background-size: 20px;
}

@media (min-width: $tablet-width) {
  .input-text {
    height: 51px;
  }
}

@media (min-width: $desktop-width) {
  .input-text {
    height: 51px;
  }
}
