.nav {
  display: block;
  background-color: white;
}

.nav__list {
  @include lists;
}

.nav__item {
  border-bottom: 1px solid #e6e6e6;
  border-top: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav__link {
  font: {
    family: "Oswald";
    size: 20px;
    weight: 500;
  }
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .nav__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .nav__item {
    padding-top: 40px;
    padding-bottom: 40px;
    border: none;
  }

  .nav__link {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;

    &--current,
    &--currentindex {
      border-bottom: 2px solid $accent;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav {
    background-color: transparent;
  }

  .nav__list {
    margin-left: 460px;
  }

  .nav__link {
    color: black;
    font-weight: normal;

    &--index {
      color: white;
      border-color: white;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
