.product-table {
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  border-collapse: collapse;

  &--extra {
    font-size: 14px;
  }
}

.product-table__cell {
  text-align: left;
}

.product-table__cell--right {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .product-table {
    font-size: 16px;
  }

  .product-table__cell {
    border: none;
    border-bottom: $border;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .product-extra {
    .product-table__cell {
      border: none;
      text-align: right;
    }

    .product-table__cell--price {
      width: 90px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-extra {
    .product-table {
      margin: 0;
      width: 285px;
    }

    .product-table__cell {
      padding: 0;
      border: none;
      text-align: left;
    }
  }
}
