.product {
  border-bottom: $border;
  padding: 0 20px 28px 20px;
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: -5px;
}

.product__heading {
  @include heading-small;
  text-transform: uppercase;
  width: 85px;
  margin-bottom: 10px;
}

.product__content {
  padding-top: 21px;
  width: 140px;
}

.product__link {
  color: black;
  text-decoration: none;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .product {
    width: 45.75%;
    height: 515px;
    background-image: linear-gradient(white 16%, $darker 16%);
    background-color: $darker;
    border: none;
    position: relative;
    padding: 0 0 35px 0;
  }

  .product__content {
    width: 100%;
    padding: 28px 35px 0 35px;
  }

  .product__img {
    min-width: 330px;
  }

  .product__link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }

  .product__wrapper {
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
  }

  .product__heading {
    width: 130px;
    min-height: 50px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .product__btn {
    margin-top: 35px;
  }

  .product__btn-wrapper {
    padding: 0 35px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
  }

  .product__img {
    min-width: 240px;
  }
}
