.programs {
  margin-bottom: 20px;
}

.programs__list {
  @include lists;
  margin: 0 20px;
}

.programs__item {
  background-color: $darker;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  min-height: 265px;
}

.programs__heading {
  @include heading-medium;
  text-transform: uppercase;
  margin-left: 70px;
  position: relative;
  padding-bottom: 30px;
  padding-top: 10px;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: $accent;
    border-radius: 50%;
    left: -70px;
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
  }

  &--weightloss::after {
    background: url("../img/icon-cat-slim.svg") no-repeat;
    left: -65px;
    top: -5px;
  }

  &--weightgain::after {
    background: url("../img/icon-cat-pro.svg") no-repeat;
    left: -80px;
    width: 70px;
  }
}

.programs__description {
  @include zero;
  border-bottom: $border;
  padding-bottom: 25px;
}

.programs__catalog-link {
  @include heading-small;
  text: {
    transform: uppercase;
    decoration: none;
  }
  position: relative;
  padding-top: 25px;
  width: 110px;
  display: block;

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 10px;
    bottom: 9%;
    left: 110%;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-image: url("../img/icon-right-arrow-verylong.svg");
    width: 34px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .programs__list {
    margin: 0 30px;
  }

  .programs__item {
    padding: 75px 50px 65px 50px;
    margin-bottom: 30px;
  }

  .programs__heading {
    @include heading;
    margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      background: $accent;
      border-radius: 50%;
      left: 65%;
      top: 15px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
    }

    &--weightloss::after {
      left: 68%;
      top: 0;
    }

    &--weightgain::after {
      left: 58%;
      top: 60px;
      width: 280px;
    }
  }

  .programs__description {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .programs__catalog-link {
    font-size: 20px;

    &::after {
      bottom: 9%;
      right: -40%;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    margin-bottom: 35px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .programs__item {
    width: 570px;
    min-height: 370px;
    padding-top: 45px;
  }

  .programs__heading {
    margin-left: 165px;
    margin-bottom: 70px;
    min-height: 40px;
    margin-top: 30px;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      background: $accent;
      border-radius: 50%;
      left: -160px;
      top: -30px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
    }

    &--weightloss::after {
      left: -150px;
      top: -35px;
    }

    &--weightgain::after {
      left: -190px;
      top: -13px;
      width: 140px;
    }
  }

  .programs__description {
    width: 100%;
    padding-bottom: 5px;
  }
}
