.promo-banners {
  padding: 10px 20px 30px 20px;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .promo-banners {
    padding: 35px 30px 80px 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo-banners {
    margin-left: 80px;
    padding: 0;
  }
}
