.result {
  border: $border;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  width: 125px;
  height: 55px;
  position: relative;
}

.result__count {
  @include heading-medium;
  text-transform: uppercase;
}

.result__descripton {
  font-size: 12px;
  position: absolute;
  background-color: $darker;
  top: 84%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 4%;
  max-width: 85px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .result {
    width: 165px;
    height: 75px;
  }

  .result__count {
    font-size: 30px;
  }

  .result__descripton {
    padding: 0 4%;
    top: 90%;
    font-size: 14px;
    background-color: white;
    max-width: 165px;
  }
}


@media (min-width: $desktop-width) {
  .result__descripton {
    background-color: $darker;
    white-space: nowrap;
  }
}
