.show-more {
  padding: 25px 20px 20px 20px;
  text-align: center;
  min-height: 205px;
  border-bottom: $border;
  font-size: 12px;
  align-items: center;
}

.show-more__plus-link {
  display: block;
  margin-bottom: 25px;
}

.show-more__info {
  @include heading-small;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.show-more__description {
  @include zero;
  margin-bottom: 25px;
}

.show-more__plus-btn {
  fill: #d3d3d3;
}

@media (min-width: $tablet-width) {
  .show-more {
    border: $border;
    margin-bottom: 140px;
    width: 325px;
    padding: 55px 35px 40px 35px;
  }

  .show-more__plus-link {
    margin-bottom: 50px;
  }

  .show-more__plus-btn {
    width: 60px;
    height: 60px;
  }

  .show-more__info {
    font-size: 20px;
    width: 150px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .show-more__description {
    font-size: 16px;
    width: 170px;
  }

  .show-more__btn {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 245px;
  }

  .show-more__info {
    font-size: 20px;
    width: 150px;
    margin: 0 auto 30px auto;
  }
}
