@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @include zero;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #444444;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media (min-width: $tablet-width) {
  body {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1220px;
    margin: 0 auto;
    display: block;
  }
}
